
html
{
    background-image: url("../Animation/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.dino {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../Animation/img/dino.png);
  bottom: 0px;
}

.obstacle {
  position: absolute;
  width: 60px;
  height: 60px;
  background-image: url(../Animation/img/cactus.png);
  bottom: 0px;
}

